 body {

            background-image: url("https://images.pexels.com/photos/270410/pexels-photo-270410.jpeg?cs=srgb&dl=pexels-pixabay-270410.jpg&fm=jpg");
            font-family: Arial, sans-serif;
            background: #f0f0f0;
            margin: 0;
            padding: 20px;
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .gallery-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 20px;
        }

        .card {
            background: white;
            padding: 10px;
            border-radius: 10px;
            height: 300px;
        }

        .card img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
   